*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Golos Text', sans-serif;
}
.hero{
    background: #1d2026;
    min-height: 100vh;
    width: 100%;
    color: #fff;
    position: relative;
}
nav{
    display: flex;
    align-items: center;
    padding: 20px 8%;
}
nav .menu_img{
     width: 20px;
     margin-right: 20px;
     cursor: pointer;
}
nav.logo_img{
    width: 160px;
    /* margin-right: 20px; */
    cursor: pointer;
}
nav ul{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
}
button{
    background: #efefef;
    height: 30px;
    width: 60px;
    border-radius: 20px;
    border: 0px;
    outline: 0;
    cursor: pointer;
    transition: background 0.5s;
}
button span{
    display: block;
    background: #999;
    height: 26px;
    width: 26px;
   border-radius: 50%;
   margin-left: 2px;
   transition: background 0.5s,margin-left 0.5s;
}
.lamp_container{
    position: absolute;
    top: -20px;
    left: 29%;
    width: 200px;
}
.lamp{
    width: 100%;
}
.light{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 700px;
    margin-left: -10px;
    opacity: 0;
    transition: opacity 0.5s;
}
.text_container{
    max-width: 600px;
    margin-top: 7%;
    margin-left: 53%;
}
.text_container h1{
    font-size: 80px;
    font-weight: 400;
}
.text_container a{
    text-decoration: none;
    background: #00986f;
    padding: 14px 40px;
    display: inline-block;
    color: #fff;
    font-size: 18px;
    margin-top: 30px;
    border-radius: 30px;
}
.control{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 15px;
}
.control .line{
    width: 250px;
    height: 4px;
    background: #fff;
    margin: 0 20px;
    border-radius: 2px;
}
.control .line{
     width: 50%;
     height: 8px;
     margin-top: -2px;
    border-radius: 4px;
    background-color: #00986f; 
    display: block;
}
.control .line span{
    width: 50%;
    height: 8px;
    margin-top: -2px;
    border-radius: 4px;
    border-right-color: #000f98;
    display: block;
}
.active{
    background-color: green;
}
.active span{
    background: #fff;
    margin-left: 31px;
}
.on{
    opacity: 1;
}